
h1 {
            text-align: center;
            color: white;
            font-size: 30px;
            
}
h2 {
            text-align: center;
            color: white;
            font-size: 30px;
            
}
h3 {
            text-align: center;
            color: white;
            font-size: 30px;
            
}
label {
            text-align: center;
            color: white;
            font-size: 20px;
            
            
}